.steps {
  background-color: #f2f2f2;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  font-size: 1.2em;

  &__item {
    padding-left: 2rem;
    margin: 1rem 0;
    line-height: 1.2;
    position: relative;
  
    // :: -> pseudo element (faux élément placé à l'intérieur de l'élément)
    // : -> pseudo class (état ou poition particulier de l'élément : ex : hover, last-child.
    &::before {
      // on doit définir la propriété content pour que le 
      // pseudo element ait une existence
      content: "";
      width: 1.2rem;
      height: 1px;
      background: #14110f;
      display: block;
      position: absolute;
      left: 0;
      top: .7rem;
    }
  }

}

